<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css') }}">
<div class="foot">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <a href="user_join" >개인정보처리방침</a>
                    <a href="user_join" >이메일무단수집거부</a>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <p>(02043) 서울시 중랑구 신내로 115, 가천대학교종합사회복지관</p>
                    <p>TEL. 02-3421-1988 FAX. 02-3423-0818 E-mail. uoscenter@daum.net</p>
                    <p>Copyright ⓒ 2019 가천대학교. All Rights Reserved. made by 비앤아이</p>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                </div>
            </div>
        </div>
</div>