.carousel-inner img{
    width: 90%;
    overflow: hidden;

  }
.carousel-item{
text-align: center;
}
.carousel{
    background-color:#FAE5E8

}

.index_img{
    width:100%;
    height:80px;
    background-color:#F0788C;
    margin: 0px auto;
    border-radius: 10px;
    text-align:center
}

.row{
    margin-top:15px;
}

.index_img > a > img{
    display:inline;
    width:20%;
    height:100%;

}

.tab1{
    background-color:#f2f4f7;
    margin-bottom:20px;
}
.index_img > a> span{
    margin-left:10px;
}

a:hover{
    color:black;
    text-decoration: none;
}

