<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%include 'include/lib.html'%}
</head>
{%include 'include/header.html'%}


<body>
    <div class="container" style="margin-top:100px;margin-bottom:100px">
        <h4 style="text-align: center;">공지사항</h4>
        <div style="text-align: center;">
            <h7><a href="/">홈</a> > 문화마당 > <a href="/board_list">공지사항</a></h7>
        </div>



    <div class="row" style='margin-top:30px'>
        <div class="col-2"></div>
        <div class="col-8">
            <div class="container" role="main">
                <h7 style="margin-top:10px">공지사항 글쓰기</h7>
                <form name="board_info_idx" id="board_form" role="form" method="post" enctype="multipart/form-data"
                      action="#" style="margin-top:20px">
                    <div class="form-group">
                        <label for="board_title">제목</label>
                        <input type="text" class="form-control" name="board_title" id="board_title">
                    </div>
                    <div class="form-group">
                        <label for="board_writer_name">작성자</label>
                        <input type="text" class='form-control' id="board_writer_name" name="board_writer_name"
                               disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="board_content">내용</label>
                        <textarea class="form-control" id="board_content" name="board_content"
                                  style="height:300px; resize:none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="board_image">이미지 첨부</label>
                        <input type="file" class="form-control" id="board_image" name="board_image"
                               accept="img/*"/>
                    </div>
                    <div class="form-group">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" id="btnSave">저장</button>
                            <a href="/board_list" class="btn btn-primary" id="btnList">목록</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    </div>
</body>
{%include 'include/footer.html'%}
</html>