<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%include 'include/lib.html'%}
</head>
{%include 'include/header.html'%}

<body>
    <div class="container" style="margin-top:20px">
        <h4 style="text-align: center;">공지사항</h4>
        <div style="text-align: center;">
            <h7><a href="/">홈</a> > 소통창구 > <a href="/board_list">공지사항</a></h7>
        </div>

        <div class="row" style='margin-top:30px'>
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container" role="main">
                    <h7>글 조회하기</h7>
                    <div style="background-color:#fafafa;
                                border-top: #f68740 3px solid;
                                border-bottom: 1px solid #eee;
                                border-right: 1px solid #eee;
                                border-left: 1px solid #eee;">
                    <h6 class="board_title" style="margin-top:20px">2020년 상반기 평생교육 프로그램 수강생 모집안내</h6>
                    </div>
                    <div>
						<span class="info">
							<span class="board_writer_name">
							<img src="img/user.png">
							 관리자
							</span>
                            <span class="date" style="float:right;">2020.02.13</span>
						</span>
                    </div>
                    <!-- 본문 -->
                    <div style="margin-top:20px">
                        <img src="img/class.png" style="width:100%" >
                        <div class="board_content">
                            접수일정 : <br/>
                            수강기간 : <br/>
                            대상자 : <br/>
                        </div>
                    </div>






                <div class="clearfix">
                    <div class="float-right">
                        <a href="/board_modify" class="btn" style="background-color:#f68740">수정</a>
                        <a href="/board_list" class="btn" style="background-color:#f68740">목록</a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>

    </div>
</body>
</html>