<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%include 'include/lib.html'%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/way.css') }}">
    <script src="{{url_for('static', filename='javascript/way.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeqtacIBrD5AciLCSWfUw3AeH1BEKnlWM&callback=initMap"
    async defer></script>
</head>
<body>
    {%include 'include/header.html'%}
    <div class="container" style="margin-top:100px;margin-bottom:100px">
        <h4 style="text-align: center;">오시는길</h4>
        <div style="text-align: center;">
            <h7><a href="/">홈</a> > 기관소개 > <a href="/way">오시는길</a></h7>
        </div>



        <div class="row">
            <div class="col-12">
                <p>오시는길</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table>
                    <tbody>
                      <tr>
                        <td></td>
                        <td>주소</td>
                        <td>(02043) 서울시 중랑구 신내로 115, 서울시립대학교종합사회복지관(신내10단지아파트 내)</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>전화</td>
                        <td>02-3421-1988</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>팩스</td>
                        <td>02-3423-0818</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>이메일</td>
                        <td>uoscenter@daum.net</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>