<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%include 'include/lib.html'%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/way.css') }}">
    <script src="{{url_for('static', filename='javascript/way.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeqtacIBrD5AciLCSWfUw3AeH1BEKnlWM&callback=initMap"
    async defer></script>
</head>
<body>
    {%include 'include/header.html'%}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>오시는길</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1>주소</h1>
                <h1>전화</h1>
                <h1>이메일</h1>
            </div>
        </div>
    </div>
</body>
</html>